

.fendi-website{

	font-family: 'rubik', Arial, Helvetica, sans-serif;
	background-color: rgba(255, 204, 0, 1);
	width: 1440px;
	height: 832px;
	margin-top: -70px;
}

.fendi-intro-title-1, .fendi-intro-title-2 {
	
	font-size: 100px;
	margin-bottom: 0px;
	width: 400px;
	display: inline-block;
	padding-left: 70px;
	font-weight: 500;

}

.fendi-intro-title-2 {

	width: 601px;
	padding-left: 280px;
}

.fendi-intro-elements{


	.rectangle {
		width: 1271px; 
		height: 650px; 
		background-color: white;
		border: 7px solid black; 
		margin-left: 71px;
		
	}

	.rectangle-2{

		width: 1354px;
		height: 580px;
		background-color: white;
		border: 7px solid black;
		margin-left: 30px;
		margin-top: -630px;
	}

	.vertical-line-1 {
		position: absolute;
		width: 7px; 
		height: 580px; 
		background-color: black; 
		left: 50%; 
		top: 20px; 
		transform: translateX(-50%); 
		margin-left: -637.5px;
		margin-top: 152.5px;
	}

	.vertical-line-2 {

		position: absolute;
		width: 7px; 
		height: 580px;
		background-color: black; 
		left: 50%; 
		top: 20px; 
		transform: translateX(-50%); 
		margin-left: 640.5px;
		margin-top: 152.5px;


	}

	.vertical-line-3 {

		position: absolute;
		width: 7px; 
		height: 580px;
		background-color: black; 
		left: 50%; 
		top: 20px; 
		transform: translateX(-50%); 
		margin-left: 661.5px;
		margin-top: 152.5px;


	}

	.vertical-line-4 {

		position: absolute;
		width: 7px; 
		height: 580px;
		background-color: black; 
		left: 50%; 
		top: 20px; 
		transform: translateX(-50%); 
		margin-left: -658.5px;
		margin-top: 152.5px;


	}

	.horizontal-line-1 {
		position: absolute;
		width: 1280px; 
		height: 7px; 
		background-color: black; 
		left: 50%; 
		top: 420px; 
		transform: translateY(-50%); 
		margin-left: -640px;
		margin-top: -268px;
	}

	.horizontal-line-2 {
		position: absolute;
		width: 1280px; 
		height: 7px; 
		background-color: black; 
		left: 50%; 
		top: 420px; 
		transform: translateY(-50%); 
		margin-left: -640px;
		margin-top: 354px;
	}

	.Fendi-page-logo{

		position: absolute;
		margin-top: -100px;
		width: 100px;
		height: 80px;
		margin-left: 490px;
	}

	.cover-fendi-design {

		position: absolute;
		padding-left: 100px;
		margin-top: 67px;
	}

	.intro-button{

		position: absolute;
		width: 439px;
		height: 128px;
		background-color: rgba(255, 204, 0, 1); 
		color: black; /* Button text color */
		padding: 10px 20px; /* Button padding */
		border: none; /* Remove button border */
		border-radius: 0px; /* Button border radius */
		cursor: pointer; /* Add pointer cursor on hover */
		font-size: 64px; /* Button text size */
		margin-left: 800px;
		margin-top: 300px;
		border: 7px solid black;
		font-family: 'rubik', Arial, Helvetica, sans-serif;
		font-weight: 500;
	}
	
	

	
}
	


