*, *::before, *::after {
	box-sizing: border-box;

  }
  
  body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 204, 0, 1);
	font-family: 'rubik', Arial, Helvetica, sans-serif;
  }

  .welcome-text{

	display: none;

  }


  .page-wrapper {
	height: 100%;
	display: flex;
	justify-content: center; 
	align-items: center; 
  }

  .title-wrapper-1 {
	position: absolute;
	top: 20px; /* Adjust top position as needed */
	left: 50%; /* Center horizontally */
	transform: translateX(-50%); /* Center horizontally */
  }

  .title-wrapper-2 {

	position: absolute;
	top: 20px; /* Adjust top position as needed */
	left: 50%; /* Center horizontally */
	transform: translateX(-50%); /* Center horizontally */
  }

  .fendi-intro-title-1{

	font-size: 80px;
	margin-left: -470px;
	margin-top: 0px;
	margin-bottom: 0px;
  }

  .fendi-intro-title-2{

	font-size: 80px;
	width: 490px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 630px;
  }
  
  .container {
	width: 1400px;
	max-width: 80%;
	background-color: white;
	padding: 10px;
	position: relative;
	margin-top: 140px;
	border: 7px solid black;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

  }

  .Fendi-page-logo {
	position: absolute; 
	z-index: 1; 
	margin-bottom: 710px;
	margin-left: -200px;
  }
  


  .btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	margin-top: 20px;
	order: 2;
	align-content: center;
  }
  
  .btn {
	background-color: rgba(255, 204, 0, 1);
	border: 7px solid black;
	padding: 5px 10px;
	color: white;
	outline: none;
	height: 128px;
	width: 439px;
  }
  
  .btn:hover {
	border-color: black;
  }
  

  
 